@import'./utils/variables' ;
@import'./base/normalize' ;
@import'./components/header' ;
@import'./base/global-styles' ;
@import'./utils/placeholder';
@import './utils/mixins';
@import'./components/logo' ;
@import'./components/nav' ;
@import'./components/contact' ;
@import'./components/main-section' ;
@import'./components/section-features';
@import'./components/work' ;
@import'./components/team' ;
@import'./components/social-list' ;
@import'./components/clients';
@import'./components/footer' ;
@import'./components/join' ;
@import'./components/subscription' ;
@import'./components/modalwindows' ;
@import'./components/filter-list' ;
@import'./components/portfolio-list' ;
@import'./components/form';
@import'./components/buttons' ;
@import'./components/additional-social' ;