.contact {
  @include Flex();


  
  color: $grey-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  margin-left: auto;

  &__link--flex {
    @include Flex($type-justify: none);
  }

  &__item:not(:first-child) {
    margin-left: 50px;
  }
}

.contact__item {
  margin-left: auto;
}

.contact__link {
  color: $grey-color;
  padding-left: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover .contact__icon,
  &:focus .contact__icon {
    @extend %fill-accent;
  }
}
.contact__icon {
  fill: $grey-color;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
