.footer {
  background-color: $footer-index;

  padding: 60px 0;

  &__inform {
    color: $white-color-footer;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__inform:hover,
  &__inform:focus {
    color: $accent-color;
  }

  &__item {
    margin-bottom: 20px;
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
  &__maps {
    color: $white-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: $accent-color;
    }
  }

  &__container {
    text-align: center;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
   
  }
}
