.logo {
  color: $title-text-color;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;

  &--blue-text {
    color: $accent-color;
  }

  &--white-text {
    color: $white-color;
  }

}