.features {
  padding: 60px 0;
  background-color: var(--white-color);

  &__list {
    @include Flex($type-aling: none, $type-justify: none);

    @media (max-width: 1199px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    @media (min-width: 1200px) {
      margin-right: 30px;
    }
    @media (max-width: 767px) {
      margin-top: 30px;
      &:first-child {
        margin-top: 0;
      }
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 30px * 2) / 2);
      margin-left: 30px;
      margin-top: 30px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.features__icon {
  display: flex;
  width: 100%;
  min-height: 120px;
  justify-content: center;
  background: $team-section;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
}

.features__title {
  color: $title-text-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
  
 
}

@media (max-width:767px) {
  .features__title {
text-align: center;
  }
}
.features__discription {
  color: $grey-color;
  font-size: 14px;
  line-height: 1.71;
}
