  $body-color: #2a2a2a;
  $title-text-color: #212121;
  $accent-color: #2196f3;
  $white-color: #ffffff;
  $white-color-footer: rgba(255, 255, 255, 0.6);
  $grey-color: #757575;
  $main-color: #2f303a;
  $color-button: #188ce8;
  $color-section: #e5e5e5;
  $team-section: #f5f4fa;
  $footer-index: #2f303a;
  $header-color: #ececec;
  $red-color: #ff0000;
  $blue-color: #0000ff;
  $border-color: #eeeeee;
  $bgc-icon: rgba(255, 255, 255, 0.1);
  $border-clients: #afb1b8;
  $mailing-button: #188CE8 ;
  $placeholder-color : #FFFFFF99 ;
  $accent-color-secondary :  #188CE8;
